{% extends "base.html" %}

{% block content %}

    {% include "buttons.html"  %}

    <div class="all_view_container">

    {% for year in user_spending %}

        <div class="all_view_year">{{ year }}

        {% for month in user_spending[year] %}

            <div class="all_view_month">{{ month }}

            {% for day in user_spending[year][month] %}

                <div class="all_view_day">{{ day  }}

                {% for record in user_spending[year][month][day] %}


                        <a class="all_view_record" href="{{ url_for('detail', record_id=user_spending[year][month][day][record].id) }}">
<!--                            <div >-->
                            <div class="record_category">
                                {% if record == "daily_sum" %}
                                    Summary
                                {% else %}
                                    {{ user_spending[year][month][day][record].category_name }}
                                {% endif %}
                            </div>
                            <div class="record_value">

                                {% if record == "daily_sum" %}
                                    {{ '{:.2f} zł'.format(user_spending[year][month][day][record]) }}
                                {% else %}
                                    {{ '{:.2f} zł'.format(user_spending[year][month][day][record].value) }}
                                {% endif %}
                            </div>
<!--                        </div>-->
                        </a>



                {% endfor %}

                </div>
                <hr>

            {% endfor %}

            </div>

        {% endfor %}

        </div>

    {% endfor %}

    </div>

    <div style="height: 200px;"></div>

{% endblock %}