{% extends "base.html" %}

{% block content %}
    <a href="{{ url_for('add_spending') }}" class="float">
        <div class="fa fa-plus my-float">Add</div>
    </a>
<!--    <hr>-->
    {% for each in user_spending %}
    <div>
        <a href="{{ url_for('detail', record_id=each.id) }}">
        {% if record != None %}

        {{ each.timestamp.strftime("%d %B %H:%M") }}
        {{ print(cat_dict[str(each.category)]) }}:
        {{ each.value }} zł
        {{ each.note }}

        {% endif %}
        </a>
    </div>
    <hr>
    {% endfor %}
{% endblock %}