<div class="bar_display_container">
    {% if cat_val_dict %}
        {% for cat, val in cat_val_dict.items() %}

            <a href="{{ url_for('cat_detail', category=cat) }}">
                <div class="bar_pos bar_wrapper">
                    <div>{{ cat }}</div>
                    <div class="value"> {{ '{:.2f} zł'.format(val) }}</div>
                    <div style="grid-column-start: 1;grid-column-end: 3;">
                        <div class="category_bar">
                            <div style="width: {{ val / valsum * 100}}%">

                            </div>
                        </div>
                    </div>
                </div>
            </a>

        {% endfor %}
    {% else %}

        <div class="good_day">
            yeah, its good day isnt it?
        </div>

    {% endif %}
</div>