<html>
    <head>
        {% if title %}
            <title>{{ title }} - Mapp</title>
        {% else %}
            <title>Mapp</title>
        {% endif %}
        <link href="https://fonts.googleapis.com/css?family=Nunito:600&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
<!--        <link rel="stylesheet" href="/static/styles.css" type="text/css">-->
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="/static/styles-small.css" media="screen and (max-width:1000px)">
        <link rel="stylesheet" href="/static/styles-large.css" media="screen and (min-width:1001px)" >

        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        <script src="static/scripts.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="page_container">
        <div class="menu_container">
            <a href="{{ url_for('index') }}">
                <div class="menu_button">
                Home
                </div>
            </a>
        <div class="dropdown">
        <div class="menu_button">Menu</div>
        <div class="dropdown-content">
            <a href="{{ url_for('all_records') }}">All</a>
            <hr>
            <a href="{{ url_for('categories') }}">Categories</a>
            <hr>
            <a href="{{ url_for('income') }}">Income</a>
            <hr>
            <a href="{{ url_for('profile') }}">Profile</a>
            <hr>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        </div>
        </div>
        <div style="height: 9%;">
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div style="color: red;width: 100%;text-align: center;">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}

        {% endblock %}
    </div>
    </body>
</html>