{% extends "base.html" %}

{% block content %}

    <div class="cat_detail_page_wrapper">
        <div class="cat_name_wrapper">
            <h1>{{ category_name }}</h1>
        </div>

        <div class="cat_detail_btn_wrapper">
            <a href="{{ url_for('cat_delete', category_id=cat_id) }}">
                <div class="delete_button menu_button cat_delete_btn">
                    Delete
                </div>
            </a>
        </div>

    </div>

    <div class="all_view_container">

    {% for year in user_spending %}

        <div class="all_view_year">{{ year }}

        {% for month in user_spending[year] %}

            <div class="all_view_month">{{ month }}

            {% for day in user_spending[year][month] %}

                <div class="all_view_day">{{ day  }}

                {% for record in user_spending[year][month][day] %}


                        <a class="all_view_record" href="{{ url_for('detail', record_id=user_spending[year][month][day][record].id) }}">
<!--                            <div >-->
                            <div class="record_category">
                                {% if record == "daily_sum" %}
                                    Summary
                                {% else %}
                                    {{ user_spending[year][month][day][record].note }}
                                {% endif %}
                            </div>
                            <div class="record_value">

                                {% if record == "daily_sum" %}
                                    {{ '{:.2f} zł'.format(user_spending[year][month][day][record]) }}
                                {% else %}
                                    {{ '{:.2f} zł'.format(user_spending[year][month][day][record].value) }}
                                {% endif %}
                            </div>
<!--                        </div>-->
                        </a>



                {% endfor %}

                </div>
                <hr>

            {% endfor %}

            </div>

        {% endfor %}

        </div>

    {% endfor %}

{% endblock %}