{% extends "base.html" %}

{% block content %}

    {% include "buttons.html"  %}

    {% for each in user_categories %}
<!--    <div class="cat_list_element_wrapper">-->
        <a href="{{ url_for('cat_detail', category=each.value) }}">
            <div class="cat_list_element">
                <div>
                {% if record != None %}

                {{ each.value }}

                {% endif %}
                </div>

            </div>
        </a>
<!--        <a href="{{ url_for('cat_delete', category_id=each.id) }}">-->
<!--            <div class="delete_button menu_button cat_delete_btn">-->
<!--                Delete-->
<!--            </div>-->
<!--        </a>-->
<!--    </div>-->
    <hr>

    {% endfor %}

    <div class="cat_list_element">
        <a href="{{ url_for('add_category') }}" style="color: #00cc99;">
            Add Category
        </a>
    </div>

    <hr>
{% endblock %}