{% extends "base.html" %}

{% block content %}

    {% include "buttons.html"  %}

    <div class="cat_list_element">
        <a href="{{ url_for('add_income_category') }}" style="color: #00cc99;">
            Add Category
        </a>
    </div>

    <div class="cat_list_element">
        <a href="{{ url_for('add_income') }}" style="color: #00cc99;">
            Add Income
        </a>
    </div>

    {% for cat, val in income_dict.items() %}
    <div class="cat_list_element">

        {{ cat }}
        {{ '{:.2f} zł'.format(val) }}

    </div>
    {% endfor %}

{% endblock %}