{% extends "base.html" %}

{% block content %}


    <a href="{{ url_for('add_spending') }}" class="float">
        <div class="fa fa-plus my-float">Add</div>
    </a>
    <div style="width: 100%; text-align: center;">
    <h1>Hi, {{ current_user.username }}!</h1>
    </div>

    <div id="nav" style="display: grid;grid-template-columns: 50% 50%;">
        <a href="{{ url_for('day') }}">
            <div id="day_button" class="scope_button">
<!--                  -->
            Day
            </div>
        </a>
        <a href="{{ url_for('month') }}">
            <div class="scope_button">
                Month
            </div>
        </a>
    </div>
    <div style="height: 2em;">

    </div>

    <div id="ajax-content">This is default text, which will be replaced</div>
 

{% endblock %}