{% extends "base.html" %}

{% block content %}

    {% include "buttons.html"  %}

    <div style="width: 100%; text-align: center;">
    <h1>Hi, {{ current_user.username }}!</h1>
    </div>

    <div id="nav" style="display: grid;grid-template-columns: 50% 50%;">
        <a href="{{ url_for('day') }}">
            <div id="day_button" class="scope_button">
            Day
            </div>
        </a>
        <a href="{{ url_for('month') }}">
            <div class="scope_button">
                Month
            </div>
        </a>
    </div>
    <div style="height: 2em;">
    </div>

    <div id="ajax-content">If you are seeing this, something is no yes</div>
 
{% endblock %}