<html>
    <head>
        {% if title %}
            <title>{{ title }} - calc</title>
        {% else %}
            <title>calc</title>
        {% endif %}
        <link href="https://fonts.googleapis.com/css?family=Nunito:600&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles.css" type="text/css">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        <script src="static/scripts.js" type="text/javascript"></script>
    </head>
    <body>

    <div style="height: 6em;">
    </div>

    <h1 style="text-align: center;">Hello!</h1>
    <a href="{{ url_for('login') }}">
        <h1 style="text-align: center;color: #00cc99;font-size: 4em;">Log in</h1>
    </a>
        <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>

    </body>
</html>