{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center;">Login</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(class_="form_input", size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class_="form_input", size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <label class="remember_me">
            Remember Me
            {{ form.remember_me() }}
            <span class="checkmark"></span>

        </label>
        <p style="margin:4%">{{ form.submit(class_="float add_button") }}</p>
    </form>
{% endblock %}